:root{
    font-size:20px;
    font-family:'Tw Cen MT Condensed','Tw Cen MT',Arial;
    --back:#f8f4d6;
    --light:#f5d1c3;
    --darker:#f3c5b3;
    --darkest:#a9924e;
    --green:#52895e;
}
@viewport{
    width:device-width;
}

*,*:before,*:after{
    box-sizing:border-box;
}
body{
    background-color: var(--back);
    display:grid;
    grid-template-columns: 1.2fr 3fr;
    grid-template-areas: 'topl topr'
                        'mid mid'
                        'bot bot';
}

header{
    grid-area:topr;
    font-size: 2em;
    display:flex;
    justify-content:center;
    align-items:center;
}
header img{
    transition:1.5s;
    width:2.1em;
    animation:catrotate 3s infinite;
}
aside{
    grid-area:topl;
}
footer{
    grid-area:footer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    background-color: var(--darker);
}
nav{
    grid-area:mid;
    display:flex;
    justify-content: center;
}
nav a{
    color:var(--green);
    border:3px solid var(--green);
    border-radius: 10px;
    text-align: center;
    margin-right:4px;
    text-decoration: none;
    margin-bottom: 5px;
    padding:1em;
    transition:0.6s;
    vertical-align: middle;
}
#here{
    background-color: var(--darker);
}
main{
    grid-area: bot;
}

.col1{
    color:#f3c5b3;
}
.col2{
    color:#52895e;
}
.col3{
    color:#f4df2b;
}
.col4{
    color:#d8121f;
}
aside img{
    width:100%;
    margin:0 auto;
    margin-bottom: 2em;
}
header p{
    margin:0.25em 0;
    font-size:1.75em;
    vertical-align: center;

}
main p{
    font-size:1.3em;
    color:var(--green);
    width: 80%;
    margin:0 auto;
    text-align: center;


}
#materials ul{
    color:var(--green);
    font-size:2em;
    list-style-type:circle;
    list-style-position: inside;
    margin-bottom:0.27em;
}
#materials ul li ul li{
    font-size:0.4em;
}
#materials section,#commissions{
    border:solid 2px var(--green);
    padding:0;
    border-radius: 25px;
}
#collection{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#collection img{
    width:100%;
    margin:0 auto;
    align-content: center;
}
figcaption{
    color:var(--green);
    font-size: 1.5em;
    text-align: center;
}
#materials section{
    
    width:100%;
    margin:0 auto;
}

#commissions img{
    display:block;
    margin:0 auto;
    margin-top:2em;
}
#commissions section img{
    width:50%;
    margin:0 auto;
}
footer a:visited{
    color:var(--green);
}
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:0;
    margin:0;
}
h1{
    color:var(--green);
}
ul img{
    width:1em;
    margin-left: 5px;
}
main section{
    text-align: center;
}
main section div{
    display:flex;
    width:70%;
    margin:0 auto;
    justify-content: space-evenly;
}
#collection img{
    transition: 0.3s;
}
@media (hover:hover){
    a:hover{
        background-color:var(--darker);
    }
    #collection img:hover{
        transform:rotate(5deg);
        
    }
}
@keyframes catrotate{
    0%{
        transform:rotate(-10deg);
    }
    50% {
        transform:rotate(20deg);
    }
    100%{
        transform:rotate(-10deg);
    }
}

@media screen and (min-width:600px){
    body{
        display:grid;
        grid-template-columns:0.4fr 2.5fr;
        grid-template-areas: 'leftt top'
                            'leftb mid';
    }
    header{
        grid-area:top;

    }
    main{
        grid-area:mid;
    }
    nav{
        grid-area:leftb;
        display:flex;
        flex-direction: column;
        justify-content: start;
    }
    nav a{
        font-size:1.5em;
        padding:0.5em;
    }
    aside{
        grid-area:leftt;
    }
    
    #collection{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}